@page "/about"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Product Wish List</h2>
        <p>
            This project was created to help represent a fundamental app written
            with Blazor. The shopping theme is used throughout the app.
        </p>
        <br />
        <h2 class="title">Resources</h2>
        <ul>
            <li>
                <a href="https://github.com/alicenon/my-static-blazor-app">
                    Code in GitHub
                </a>
            </li>
        </ul>

        <p class="fst-italic">Soon the possibility of adding an academy through a mobile photo.</p>

        <h2>Componentes Necesarios: Azure Form Recongnizer de Azure Cognitive Service con modelos entrenados para la extraccion de texto</h2>
        <h2>Resumen:</h2>
        <ol>
            <li>
                Captura y sube la foto usando HTML5, JavaScript y C#.
            </li>
            <li>
                Sube la imagen a Azure Blob Storage.
            </li>
            <li>
                Procesa la imagen usando Azure Form Recognizer en una Azure Function.
            </li>
            <li>
                Muestra los datos extraídos en tu página web.
            </li>
        </ol>
    </div>
</div>